.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: var(--font-main), serif;
	color: var(--content-color);
	background-color: var(--background-color);
	background-image: var(--background-image);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-variation-settings: 'wght' var(--content-font-weight), 'slnt' 0;
	padding: 100px 0 0 0;
}

.container {
	inline-size: clamp(375px, 50%, 700px);
	margin: 0 auto;
}

.header {
	font-family: var(--font-additional), serif;
	background-color: var(--background-color);
	text-align: center;
	padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
	margin-block-end: 100px;
	border: 2px solid var(--content-color);
}

.header__logo {
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
	margin-block-end: 20px;
	text-transform: uppercase;
}

.header__title {
	text-transform: uppercase;
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
	margin-block-end: 22px;
}

.header__theme-menu {
	display: flex;
	justify-content: center;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	gap: 11px;
	margin-left: 19px;
	align-items: start;
}

.theme-menu__button {
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
	cursor: pointer;
	opacity: 0.6;
	text-decoration: none;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	inset-block-start: 2px;
	animation: menu-flow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
	content: '';
	position: absolute;
	inset-block-end: -3px;
	inset-inline-start: 0;
	inline-size: 0;
	block-size: 2px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease;
}

.theme-menu__button:focus {
	outline: none;
	opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
	transform: scaleX(1);
	inline-size: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	margin-block-end: 50px;
}

.card {
	border: 2px solid var(--content-color);
	background-color: var(--background-color);
}

.card__title {
	font-size: 18px;
	font-weight: var(--title-font-weight), 400;
	padding: 5px 10px;
	background-color: var(--background-color);
	border-block-end: 2px solid var(--content-color);
	font-variation-settings: 'wght' var(--title-font-weight);
}

.cover {
	position: relative;
	border-bottom: 2px solid var(--content-color);
}

.cover__label {
	z-index: 100;
	position: absolute;
	inset-block-start: 25px;
	inset-inline-end: 25px;
	color: var(--content-color);
	font-family: var(--font-additional), serif;
	font-size: 14px;
	mix-blend-mode: hard-light;
	text-shadow: 0 0 1px var(--content-color);
	opacity: 0.5;
}

@supports (text-stroke: 1px var(--background-color)) or
	(-webkit-text-stroke: 1px var(--background-color)) {
	.cover__label {
		-webkit-text-stroke: 1px var(--background-color);
		text-stroke: 1px var(--background-color);
		text-shadow: none;
	}
}

.card__image {
	display: block;
	inline-size: 100%;
	object-fit: cover;
	object-position: center;
	aspect-ratio: 1/1;
}

.card__footer {
	display: flex;
	flex-direction: column;
	font-weight: var(--content-font-weight), 700;
	color: var(--content-color);
	font-size: 18px;
	padding: 25px 25px;
}

.card__story {
	margin-block-end: 27px;
}

.card__memory {
	margin-block-end: 25px;
}

.card__buttons {
	position: relative;
	display: flex;
	align-self: flex-end;
	column-gap: 6px;
}

.card__icon-button {
	padding: 0;
	max-block-size: 38px;
	cursor: pointer;
	transition: border 0.1s ease;
}

.card__icon-button:focus {
	outline: none;
}

.card__icon-button:focus-visible {
	border: 2px solid var(--content-color);
}

.card__like-button {
	align-items: center;
	inline-size: 130px;
}

.button {
	font-family: var(--font-additional);
	border: 2px solid var(--content-color);
	font-size: 14px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: inline-size 0.5s ease-in-out;
}

.button:focus {
	outline: none;
}

.button:focus-visible {
	box-shadow: 2px 2px 0 var(--content-color);
}

.button::before {
	content: '';
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	block-size: 100%;
	inline-size: 0;
	background-color: var(--content-color);
	transition: inline-size 0.5s ease-in-out;
}

.button:hover::before {
	inline-size: 100%;
}

.button__text {
	position: relative;
	z-index: 100;
	line-height: 12.6px;
	color: var(--button-text-color);
	mix-blend-mode: difference;
}

@supports (mix-blend-mode: difference) {
	.button__text {
		mix-blend-mode: difference;
	}
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-block-end: 100px;
}

.save-button {
	position: relative;
	display: flex;
	align-items: center;
	background-color: var(--background-color);
	gap: 8px;
	padding: 15px 20px;
}

.save-button .button__text {
	text-transform: inherit;
}

.save-button__icon {
	mix-blend-mode: difference;
	color: var(--floppy-fill-color);
	z-index: 1000;
}

@supports (mix-blend-mode: difference) {
	.save-button__icon {
		mix-blend-mode: difference;
	}
}

.dialog::backdrop {
	background-color: #000;
	opacity: 0.75;
}

.dialog {
	font-family: var(--font-additional);
	text-transform: uppercase;
	font-size: 14px;
	max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
	border: 2px solid var(--content-color);
	background-color: var(--background-color);
	padding: 28px;
}

.dialog__content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	margin-block-end: 30px;
}

.dialog-floppy {
	mix-blend-mode: difference;
	color: var(--floppy-fill-color);
}

.dialog__text {
	line-height: 1.5;
	font-size: 14px;
	max-inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
	color: var(--content-color);
}

.dialog__button {
	text-transform: uppercase;
	padding: 13px 0;
	inline-size: 100%;
}

.saturate {
	filter: saturate(30%);
}

.brightness {
	filter: brightness(200%);
}

.sepia {
	filter: sepia(60%);
}

.contrast {
	filter: contrast(20%);
}

.grayscale {
	filter: grayscale(100%);
}

.hue-rotate {
	filter: hue-rotate(90deg);
}

.multiply {
	filter: saturate(30%) brightness(120%) contrast(30%) sepia(60%);
}

@media (width <= 500px) {
	.container {
		inline-size: 100%;
	}

	.cover__label {
		inset-inline-end: 13px;
	}

	.save-button {
		flex-direction: column;
	}

	.dialog {
		padding: 28px 40px;
	}

	.save-button__icon {
		inline-size: 28px;
		block-size: 28px;
	}
}
